.btn {
    background-color: var(--purple);
    color: var(--new-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    background-color: var(--dark-purple);
}