.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #FBFBFB;
    width: 800px;
    padding: 64px;
    gap: 64px;
    border-radius: 12px;
}

.text {
    gap: 4px;
}

.text h2 {
    font-family: inherit;
    font-weight: 600;
}

.container .avatar {
    height: 160px;
    width: 160px;

}

.btn {
    width: 180px;
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

}

.wrap p {
    font-size: 0.5rem;
    font-weight: 400;

}

.myform {
    display: flex;
    flex-direction: column;
    gap: 24px;


}
.myform .cat {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.cat input {
    width: 385px;
    height: 48px;
    padding: 12px;
    border-radius: 12px;
    background-color: #F9FAFB;
    border: 1.5px solid #E5E7EA;
    
}














