.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100svh;
}

.layout .coverImage {
    height: 100%;
}


@media (max-width: 760px) {
    .layout {
        display: flex;
        flex-direction: column;
    }

    .layout > .coverImage {
        display: none;
    }
}