.container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.container>.top {
    height: 100px;
}

.container>.content {
    width: 900px;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-radius: 24px;
    background-color: white;
    height: fit-content;
}

.all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.today {
    display: flex;
    align-items: center;
    gap: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E5E5EE;
    width: 790px;
    height: 104px;
    padding: 24px;
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.left .icon {
    width: 56px;
    height: 56px;
    background-color: #E3F4E7;
    place-content: center;
    display: grid;
    border-radius: 12px;
}

.text h4,
.text p {
    color: #1E1E1E;
}

.text h4 {
    font-size: 0.75rem;
    margin-bottom: 4px;
}

.text p {
    font-size: 0.625rem;
}

@media (max-width: 760px) {

    .container {
        padding: 16px;
        gap: 0;

    }

    .container>.content {
        padding: 16px;
        width: 100%;
        gap: 24px;
        justify-self: self-start;
        align-self: start;
        margin: 50px auto;
        border-radius: 12px;
    }

    .all > h4 {
        font-size: 0.875rem;
    }

    .today {
        gap: 8px;
    }

    .today > button {
        font-size: 0.75rem;
        height: 32px;
        padding-inline: 10px;
    }

    .row {
        width: 100%;
        padding: 8px;
        align-items: start;
        height: auto;
    }

    .row > p {
        font-size: 0.75rem;
    }

    .left {
        align-items: start;
    }

    .left .icon {
        min-width: 40px;
        min-height: 40px;
        height: 40px;
        width: 40px;
        border-radius: 4px;
    }
}