.container {
    border-radius: 8px;
    border: 1.5px solid grey;
    font-size: 0.875rem;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
}