.container {
    height: 100svh;
    scrollbar-width: none;
    background-color: var(--primary-light);
}

.content {
    margin-left: 250px;
    position: relative;
}

/* Styling for logout modal */
.modal {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding: 32px;
    text-align: center;
}

.modal .btns {
    width: 100%;
    display: flex;
    gap: 24px;
}