.container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.container > .top {
    height: 100px;
}

.container >.content {
    width: 900px;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    background-color: white;
    height: fit-content;
}


/* Styling for quiz component */
.quiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.quiz > .left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.quiz > .left > .icon {
    width: 50px;
    height: 50px;
    display: flex;
}

@media (max-width: 760px) {

    .container {
        padding: 16px;
        gap: 0;
    }

    .container >.content {
        width: 100%;
        margin: 50px auto;
        padding: 16px;
        border-radius: 8px;
    }

    /* Styling for quiz component */

    .quiz {
        padding: 4px;
    }

    .quiz > .left {
        gap: 8px;
    }

    .quiz > .left > .icon {
        min-height: 40px;
        height: 40px;
        min-width: 40px;
        width: 40px;
    }

    .quiz > .left h4 {
        font-size: 0.875rem;
    }

    .quiz > button {
        height: 40px;
        padding-block: 0;
        font-size: 0.75rem;
    }

}