.whitebtn {
    background-color: white;
    color: var(--primary);
    border: 1.5px solid var(--purple);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
}