:root {
  --new-white: #FBFBFB;
  --primary: #5F4085;
  --light-primary: #ECE6F3;
  --dark-primary: #171717;
  --primary-border: #7F55B1;
  --text: #1E1E1E;
  --grey: #E5E7EA;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  font-family: "Manrope", sans-serif;
  max-width: 1440px;
  margin: auto;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: #FBFBFB;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #FBFBFB;
  background-color: #724D9F;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
}